/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

nav { 
    display: none !important; 
}

.slidev-page {
    background-color: #0d0e12 ;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    object-fit: cover;
}

body {
    background-color: #0d0e12 ;
}